* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  margin: 0;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
}
*:focus {
  outline: none;
}
.page {
  min-height: 100vh;
  background-color: #f1f5f9;
}
