:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --light-grey: #ccc;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  margin: 0;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
}
::-webkit-scrollbar {
  width: 1.5rem;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
*:focus {
  outline: none;
}
img {
  max-width: 100%;
}
.page {
  min-height: 100vh;
  background-color: #f1f5f9;
}
/* ----------------------------------------- */
/* ------------SideBar----------------- */
/* ----------------------------------------- */
aside {
  width: 250px;
  box-shadow: 0 0 1rem #ddd;
  padding: 2rem;
}
aside > h3 {
  margin-bottom: 5rem;
}
aside > h3::before,
aside > h3::after {
  content: "";
  position: absolute;
  background-color: black;
  left: 50%;
  transform: translateX(-50%);
}
aside > h3::before {
  width: 8rem;
  height: 0.2rem;
  bottom: -2rem;
}
aside > h3::after {
  width: 1.2rem;
  height: 1.2rem;
  border: 0.4rem solid white;
  border-radius: 50%;
  bottom: -2.8rem;
}
aside ul li a {
  transition: background-color 0.5s;
  margin-bottom: 0.5rem;
}
aside ul li a:hover,
aside ul li a.active {
  background-color: #f6f6f6;
}
@media (max-width: 767px) {
  aside {
    width: 6rem;
    padding: 1rem;
  }
  aside > h3 {
    font-size: 1.3rem;
    margin-bottom: 0;
  }
  aside > h3::before,
  aside > h3::after {
    display: none;
  }
}
/* ----------------------------------------- */
/* ------------header----------------- */
/* ----------------------------------------- */
main {
  overflow: hidden;
}
header .left {
  border: 1px solid var(--light-grey);
  color: var(--grey-color);
}
header .left .search-bar {
  border: 0;
  transition: 0.5s;
}
header .left .search-bar:focus {
  padding-right: 20px;
}
header .left .search-bar::placeholder {
  transition: color 0.5s;
}
header .left .search-bar:focus::placeholder {
  color: transparent;
}
header .right .notf::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--red-color);
  top: -15px;
  right: -5px;
}
header .right img {
  width: 32px;
  height: 32px;
  margin-left: 15px;
}
/* ----------------------------------------- */
/* ------------pages heading----------------- */
/* ----------------------------------------- */
main h1 {
  margin: 2rem 2rem 4rem;
}
main h1::before,
main h1::after {
  content: "";
  position: absolute;
  height: 0.3rem;
  left: 0;
  bottom: -1rem;
}
main h1::before {
  width: 15rem;
  background-color: white;
}
main h1::after {
  width: 6rem;
  background-color: black;
}
/* ----------------------------------------- */
/* ------------wrapper----------------- */
/* ----------------------------------------- */
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(45rem, 1fr));
}
@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(20rem, 1fr);
    margin-inline: 1rem;
    gap: 1rem;
  }
}
/* ----------------------------------------- */
/* ------------welcome box----------------- */
/* ----------------------------------------- */
.welcome {
  overflow: hidden;
}
.welcome .intro {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.welcome .intro::after {
  position: absolute;
  content: "";
  width: 6rem;
  height: 6rem;
  background-image: url("../imgs/avatar.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 15px;
  bottom: -3rem;
  border: 4px solid white;
  border-radius: 50%;
}
.welcome .intro article {
  margin-bottom: 5rem;
}
.welcome .intro img {
  width: 15rem;
}
.welcome .bio {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.welcome .bio .box {
  flex: 1;
}
.welcome .bio .box h3 {
  font-size: 1.8rem;
  font-weight: 500;
}
.welcome .visit {
  margin: 0 1.5rem 1.5rem auto;
  transition: 0.3s;
}
.welcome .visit:hover {
  background-color: var(--blue-alt-color);
}
@media (max-width: 767px) {
  .welcome .intro {
    padding-bottom: 3rem;
    text-align: left;
  }
  .welcome .intro::after {
    left: 50%;
    transform: translateX(-50%);
  }
  .welcome .intro article {
    margin-bottom: 1rem;
  }
  .welcome .bio .box:not(:last-child) {
    margin-bottom: 2rem;
  }
}
/* ----------------------------------------- */
/* ------------Quick draft box----------------- */
/* ----------------------------------------- */
.quick-draft textarea {
  resize: none;
  min-height: 18rem;
}
.quick-draft .save {
  margin-left: auto;
  transition: 0.3s;
}
.quick-draft .save:hover {
  background-color: var(--blue-alt-color);
}
