/* /////////////// */
/* Box Model  */
/* /////////////// */
.flex {
  display: flex;
}
/* /////////////// */
/* Padding + Margin  */
/* /////////////// */
.p-20 {
  padding: 2rem;
}
.m-20 {
  margin: 2rem;
}
.mt-0 {
  margin-top: 0;
}
/* /////////////// */
/* Color  */
/* /////////////// */
.bgc-eee {
  background-color: #eee;
}
.bgc-white {
  background-color: white;
}
/* /////////////// */
/* Position  */
/* /////////////// */
.pos-rlt {
  position: relative;
}
/* /////////////// */
/* Font  */
/* /////////////// */
.txt-c {
  text-align: center;
}
