:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --light-grey: #ccc;
}
/* /////////////// */
/* Box Model  */
/* /////////////// */
.block {
  display: block;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.between-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.align-c {
  align-items: center;
}
.justify-btw {
  justify-content: space-between;
}
.grid {
  display: grid;
}
.gap-20 {
  gap: 2rem;
}
@media (max-width: 767px) {
  .block-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
}
/* /////////////// */
/* Padding + Margin  */
/* /////////////// */
.p-10 {
  padding: 1rem;
}
.p-15 {
  padding: 1.5rem;
}
.p-20 {
  padding: 2rem;
}
.m-inline-20 {
  margin-inline: 2rem;
}
.m-20 {
  margin: 2rem;
}
.mt-0 {
  margin-top: 0;
}
.mt-10 {
  margin-top: 1rem;
}
.mt-20 {
  margin-top: 2rem;
}
.mb-5 {
  margin-bottom: 0.5rem;
}
.mb-10 {
  margin-bottom: 1rem;
}
.mb-20 {
  margin-bottom: 2rem;
}
.ml-10 {
  margin-left: 1rem;
}
/* /////////////// */
/* Color  */
/* /////////////// */
.bgc-eee {
  background-color: #eee;
}
.bgc-white {
  background-color: white;
}
.bgc-blue {
  background-color: var(--blue-color);
}
.c-gray {
  color: var(--grey-color);
}
.c-white {
  color: white;
}
.c-orange {
  color: var(--orange-color);
}
.c-blue {
  color: var(--blue-color);
}
.c-green {
  color: var(--green-color);
}
.c-red {
  color: var(--red-color);
}
/* /////////////// */
/* Position  */
/* /////////////// */
.pos-rlt {
  position: relative;
}
/* /////////////// */
/* Font  */
/* /////////////// */
.txt-c {
  text-align: center;
}
.fs-14 {
  font-size: 1.4rem;
}
.fs-16 {
  font-size: 1.6rem;
}
@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
}
/* /////////////// */
/* Border  */
/* /////////////// */
.b-none {
  border: none;
}
.rad-6 {
  border-radius: 0.6rem;
}
.rad-10 {
  border-radius: 1rem;
}
.border-ccc {
  border: 1px solid #ccc;
}
/* /////////////// */
/* Width  */
/* /////////////// */
.w-full {
  width: 100%;
}
.w-fit {
  width: fit-content;
}
/* /////////////// */
/* Utils  */
/* /////////////// */
.btn {
  padding: 0.4rem 1rem;
  border-radius: 0.6rem;
  cursor: pointer;
}
